# Server Configurations
PORT=3002

# Database Configurations
DATABASE_URL=postgres://user:password@localhost:5432/atlas
REDIS_URL=redis://localhost:6379

# API Endpoints
NEXT_PUBLIC_API_URL=http://localhost:3002/api

# Authentication (JWT Secret etc)
SESSION_SECRET=your_secret_key_here
