enable-pre-post-scripts=true

# Dependency overrides
overrides.d3-color=^3.1.0
overrides.esbuild=^0.28.1
overrides.postcss=^8.5.16
overrides."@grpc/grpc-js"=^1.14.4
overrides.fast-xml-parser=^5.9.3
overrides.uuid=^11.1.1
overrides.dataconnect-generated=link:..\\..\\..\\..\\AppData\\Local\\pnpm\\global\\5\\node_modules\\src\\dataconnect-generated
